{% load static%}

<div class='footer'>
    <div class="footer-div">
        <div class='footer-one'> 
            <div class='footer-logo'>
                <a href='/' id="footer-logo">
                    <img class="logo-header-footer" src="../static/img/logo/logo_header.png" alt="logo">
                    Arm<br>Architects
                </a>
            </div>
            <div class="footer-info">2024 ArmenianArchitects Inc.</div>
            <div class="footer-contacts">
                <lu class="footer-contacts-list">
                    <li class="media-link">
                        <a href='#' id="media-logo">
                        <img src="../static/img/icons/social_media/facebook.png" alt="logo">
                    </a></li>
                    <li class="media-link">
                        <a href='#' id="media-logo">
                        <img src="../static/img/icons/social_media/instagram.png" alt="logo">
                    </a></li>
                    <li class="media-link">
                        <a href='#' id="media-logo">
                        <img src="../static/img/icons/social_media/youtube.png" alt="logo">
                    </a></li>
                </lu>
            </div>
        
    </div>
    <div class="footer-two">
        [additional content]
    </div>
</div>

</div>