{% load static%}

<nav class='navbar'>
    <div class='navbar-div'> 
        <div class='navbar-logo'>
            <a href='/' id="navbar-logo">
                <img class="logo-header-footer" src="../static/img/logo/logo_header.png" alt="logo">
                Arm<br>Architects
            </a>
        </div>
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <ul class="navbar-menu">
                <li class="navbar-item"><a href='/' class="navbar-link">
                    Home</a></li>
                <li class="navbar-item"><a href='#' class="navbar-link">
                    Architects</a></li>
                <li class="navbar-item"><a href='#' class="navbar-link">
                    Projects</a></li>
                <li class="navbar-item"><a href='#' class="navbar-link">
                    Map</a></li>
                <li class="navbar-item"><a href='#' class="navbar-link">
                    About</a></li>
                <li class="navbar-item"><a href='#' class="navbar-link">
                    Network</a></li>
                <li class="navbar-button"><a href='#'>
                    Explore</a></li>
            </ul>
        </div>

    </div>

</nav>