{% extends "base.html" %}

{% block content %}

<h1><br><br>This is Architects list<br><br></h1>
{% for item in all %}
    <p>{{ item }}</p>
{%endfor%}


    <div class="row profile-form-1x4">
        <div class="profile-form-vertical col-md-3">
            <div class="element-line-black"></div>
            <div class="profile-form-info-section">
                <div class="profile-form-architect-full_name"><h3>FirstName</h3></div>
                <div class="profile-form-architect-nickname"><h4>nickname</h4></div> 
                <ul class="profile-form-info">
                    <li class="profile-form-info-filed">Birth Year:</li>
                    <li class="profile-form-info-filed">Birth Place:</li>
                    <li class="profile-form-info-filed">Death Year: </li>
                    <li class="profile-form-info-filed">Styles: </li>
                </ul>
                <div class="profile-form-image"><img src="" alt="Architects profile image"></div>
            </div>
        </div>
        <div class="profile-form-vertical col-md-3">
            <div class="element-line-black"></div>
            <div class="profile-form-info-section">
                <div class="profile-form-architect-full_name"><h3>FirstName</h3></div>
                <div class="profile-form-architect-nickname"><h4>nickname</h4></div> 
                <ul class="profile-form-info">
                    <li class="profile-form-info-filed">Birth Year:</li>
                    <li class="profile-form-info-filed">Birth Place:</li>
                    <li class="profile-form-info-filed">Death Year: </li>
                    <li class="profile-form-info-filed">Styles: </li>
                </ul>
                <div class="profile-form-image"><img src="" alt="Architects profile image"></div>
            </div>
        </div>
        <div class="profile-form-vertical col-md-3">
            <div class="element-line-black"></div>
            <div class="profile-form-info-section">
                <div class="profile-form-architect-full_name"><h3>FirstName</h3></div>
                <div class="profile-form-architect-nickname"><h4>nickname</h4></div> 
                <ul class="profile-form-info">
                    <li class="profile-form-info-filed">Birth Year:</li>
                    <li class="profile-form-info-filed">Birth Place:</li>
                    <li class="profile-form-info-filed">Death Year: </li>
                    <li class="profile-form-info-filed">Styles: </li>
                </ul>
                <div class="profile-form-image"><img src="" alt="Architects profile image"></div>
            </div>
        </div>
        <div class="profile-form-vertical col-md-3">
            <div class="element-line-black"></div>
            <div class="profile-form-info-section">
                <div class="profile-form-architect-full_name"><h3>FirstName</h3></div>
                <div class="profile-form-architect-nickname"><h4>nickname</h4></div> 
                <ul class="profile-form-info">
                    <li class="profile-form-info-filed">Birth Year:</li>
                    <li class="profile-form-info-filed">Birth Place:</li>
                    <li class="profile-form-info-filed">Death Year: </li>
                    <li class="profile-form-info-filed">Styles: </li>
                </ul>
                <div class="profile-form-image"><img src="" alt="Architects profile image"></div>
            </div>
        </div>
    </div>


{% endblock  %}